<!DOCTYPE html>
<html
  class="light"
  th:fragment="parent(content, title, script)"
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">SCM</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <!--Fontawesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="dark:bg-gray-800 text-white">
    <!-- Common header -->
    <div th:replace="~{navbar :: navbar}"></div>

    <!-- Main content -->
    <div class="p-4">
      <section th:replace="${content}"></section>
    </div>

    <!--Common footer-->
    <footer class="p-4">Footer: Learn code with Deepak</footer>

    <!-- Flow bite content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script th:src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
