<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title>Services page</title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to services page</h1>
      <h2>Services offered by SCM</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque
        excepturi in assumenda consequuntur itaque asperiores at maxime delectus
        explicabo?
      </p>
    </section>

    <script>
      console.log("services page");
    </script>
    <script>
      console.log("Second about page script");
    </script>
  </body>
</html>
